In [12]:
import data_pre_processing
from sklearn.preprocessing import MinMaxScaler

In [13]:
df = data_pre_processing.data_pre_processing("C:\\Users\\Administrador\\Documents\\Dados_estatisticos_avioes.csv")

In [14]:
df.shape[0]/2

126932.0

In [15]:
escala = MinMaxScaler(feature_range = (0,1))
escalonado = escala.fit_transform(df)

In [16]:
treino = df[:126932]
teste = df[126932:]

In [17]:
treino_x = treino[["EMPRESA (NOME)","MES","AEROPORTO DE ORIGEM (UF)","AEROPORTO DE ORIGEM (REGIAO)","AEROPORTO DE DESTINO (UF)","AEROPORTO DE DESTINO (REGIAO)","DISTANCIA VOADA (KM)","HORAS VOADAS"]]
treino_y = treino["GRUPO DE VOO"]

In [18]:
teste_x = teste[["EMPRESA (NOME)","MES","AEROPORTO DE ORIGEM (UF)","AEROPORTO DE ORIGEM (REGIAO)","AEROPORTO DE DESTINO (UF)","AEROPORTO DE DESTINO (REGIAO)","DISTANCIA VOADA (KM)","HORAS VOADAS"]]
teste_y = teste["GRUPO DE VOO"]

In [21]:
teste_x

,EMPRESA (NOME),MES,AEROPORTO DE ORIGEM (UF),AEROPORTO DE ORIGEM (REGIAO),AEROPORTO DE DESTINO (UF),AEROPORTO DE DESTINO (REGIAO),DISTANCIA VOADA (KM),HORAS VOADAS
225181,0,6,5,3,5,3,10230.0,27.790000
225182,0,6,5,3,20,3,1688.0,7.180000
225185,0,7,20,3,20,3,249.0,1.440000
225186,0,7,20,3,20,3,664.0,3.590000
225187,0,7,20,3,5,3,513.0,2.430000
...,...,...,...,...,...,...,...,...
430978,0,6,28,5,19,1,18186.0,34.000000
430980,0,6,19,1,23,1,534.0,1.133330
430981,0,6,19,1,28,5,18186.0,33.816700
430982,0,6,12,5,28,5,12393.0,26.150000
430983,0,6,12,5,12,5,0.0,0.833333

In [30]:
escala = MinMaxScaler(feature_range = (0,1))
teste_x = escala.fit_transform(teste_x)
treino_x = escala.fit_transform(treino_x)

In [33]:
from sklearn.neural_network import MLPClassifier

clf = MLPClassifier(hidden_layer_sizes = (8,4,2), max_iter = 100,
                                solver = "sgd", verbose = 0, tol = 1e-8, random_state = 777,
                                learning_rate_init = .05, learning_rate = "adaptive", activation = "tanh")

clf.fit(treino_x, treino_y)
y_result = clf.predict(teste_x)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:614: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (100) reached and the optimization hasn't converged yet.
  warnings.warn(

In [34]:
# Como availar os resultados?
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
import sklearn.metrics as metrics

print(confusion_matrix(teste_y, y_result))
print()
print("--------------------------------------------------------------------------------")
print()
print(classification_report(teste_y, y_result))

[[80793 13912]
 [15765 16462]]

--------------------------------------------------------------------------------

              precision    recall  f1-score   support

           0       0.84      0.85      0.84     94705
           1       0.54      0.51      0.53     32227

    accuracy                           0.77    126932
   macro avg       0.69      0.68      0.69    126932
weighted avg       0.76      0.77      0.76    126932